﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Trans_DeliveryChallan_Main.aspx.cs" Inherits="Trans_GatePassOut_Main" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">

    <div class="content-wrapper">
        <asp:UpdatePanel ID="upMain" runat="server">
            <ContentTemplate>

                <section class="content">
                    <div class="row">
                        <div class="col-md-2">
                            <asp:Button ID="btnAddNew" class="btn btn-primary btn-block margin-bottom" runat="server" Text="Add New" OnClick="btnAddNew_Click" />
                        </div>
                        <!-- /.col -->
                    </div>
                    <!--/.row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h3 class="box-title"><i class="fa fa-user-plus text-primary"></i><span>Delivery Challan</span></h3>
                                    <div class="box-tools pull-right" runat="server" visible="false">
                                        <div class="has-feedback">
                                            <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="box-body no-padding">
                                        <div class="table-responsive mailbox-messages">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <asp:Repeater ID="Repeater2" runat="server" EnableViewState="false">
                                                        <HeaderTemplate>
                                                            <table id="example" class="table table-responsive table-bordered table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Delivery_Challan_No</th>
                                                                        <th>Delivery_Challan_Date</th>
                                                                        <th>Supplier Name</th>
                                                                        <th>Purpose</th>
                                                                        <th>Delivery Date</th>
                                                                        <th>DC_Type</th>
                                                                        <th>Mode</th>
                                                                    </tr>
                                                                </thead>
                                                        </HeaderTemplate>
                                                        <ItemTemplate>
                                                            <tr>
                                                                <td><%# Eval("DCNo")%></td>
                                                                <td><%# Eval("DCDate")%></td>
                                                                <td><%# Eval("SuppName")%></td>
                                                                <td><%# Eval("Purpose")%></td>
                                                                <td><%# Eval("DeliveryDate")%></td>
                                                                <td><%# Eval("GPType")%></td>
                                                                <td>
                                                                    <asp:LinkButton ID="btnEditEnquiry_Grid" class="btn btn-primary btn-sm fa fa-pencil" runat="server"
                                                                        Text="" OnCommand="GridEditEnquiryClick" CommandArgument="Edit" CommandName='<%# Eval("DCNo")%>'>
                                                                    </asp:LinkButton>

                                                                    <asp:LinkButton ID="btnPrintEnquiry_Grid" class="btn btn-primary btn-sm fa fa-print" runat="server"
                                                                        Text="" OnCommand="GridPrintEnquiryClick" CommandArgument="Print" CommandName='<%# Eval("DCNo")%>'>
                                                                    </asp:LinkButton>

                                                                    <asp:LinkButton ID="btnDeleteEnquiry_Grid" class="btn btn-danger btn-sm fa fa-trash-o" runat="server"
                                                                        Text="" OnCommand="GridDeleteEnquiryClick" CommandArgument="Delete" CommandName='<%# Eval("DCNo")%>'
                                                                        CausesValidation="true" OnClientClick="return confirm('Are you sure you want to delete this GatePass Out details?');">
                                                                    </asp:LinkButton>
                                                                </td>
                                                            </tr>
                                                        </ItemTemplate>
                                                        <FooterTemplate></table></FooterTemplate>
                                                    </asp:Repeater>
                                                </div>
                                                <!-- /.table -->
                                            </div>
                                        </div>
                                        <!-- /.mail-box-messages -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>

            </ContentTemplate>
        </asp:UpdatePanel>
    </div>
</asp:Content>

