﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MstSupplier_View.aspx.cs" Inherits="MstSupplier_View_Old" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="content-wrapper">
        <section class="content-header">
            <h1><i class=" text-primary"></i>Supplier Master</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3" runat="server" visible="false">
                                    <div class="form-group">
                                        <label for="exampleInputName">Supplier Code<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtLedgerCode" runat="server" class="form-control" />
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Supplier Name<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtLedgerName" runat="server" class="form-control" />

                                    </div>
                                </div>

                                <div class="col-md-3" runat="server" visible="false">
                                    <div class="form-group">
                                        <label for="exampleInputName">Ledger Group<span class="text-danger"></span> </label>
                                        <asp:Label ID="ddlLedgerGrp" runat="server" class="form-control">
                                    </asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Account Type<span class="text-danger"></span> </label>
                                        <asp:Label ID="ddlAccType" runat="server" class="form-control">
                                    </asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Apartment No/Street<span class="text-danger"></span> </label>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <asp:Label ID="txtHouseNumber" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                            <div class="col-sm-8">
                                                <asp:Label ID="txtAddr1" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Address2<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtAddr2" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">City/Postal Code<span class="text-danger"></span> </label>
                                        <div class="form-group row">
                                            <div class="col-sm-6">
                                                <asp:Label ID="txtCity" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                            <div class="col-sm-6">
                                                <asp:Label ID="txtPincode" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">State<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtState" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Country<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtCountry" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Mobile Code / Mobile No<span class="text-danger"></span></label>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <asp:Label ID="txtMobiCode" runat="server" class="form-control"></asp:Label>
                                            </div>
                                            <div class="col-sm-8">
                                                <asp:Label ID="txtMobile" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Std Code / Phone No<span class="text-danger"></span></label>
                                        <div class="form-group row">
                                            <div class="col-sm-4">
                                                <asp:Label ID="txtStdCode" runat="server" class="form-control"></asp:Label>
                                            </div>
                                            <div class="col-sm-8">
                                                <asp:Label ID="txtPhone" runat="server" Class="form-control"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Mail Id<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtMail" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Web Site<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtWebSite" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Account No<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtAccountNo" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Bank Name<span class="text-danger"></span> </label>
                                        <asp:Label ID="ddlBankName" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Branch Name<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtBranchName" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">IFSC Code<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtIFSC" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Transport / Zone<span class="text-danger"></span></label>
                                        <div class="form-group row">
                                            <div class="col-sm-7">
                                                <asp:Label ID="txtTransport" runat="server" class="form-control"></asp:Label>
                                            </div>
                                            <div class="col-sm-5">
                                                <asp:Label ID="txtZone" runat="server" class="form-control"></asp:Label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">VAT / GST Number<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtGstin" runat="server" Class="form-control"></asp:Label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="exampleInputName">Notes<span class="text-danger"></span> </label>
                                        <asp:Label ID="txtNotes" runat="server" Class="form-control" TextMode="MultiLine"
                                            Style="resize: none"></asp:Label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-primary">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"><i class="fa fa-user-plus text-primary"></i>BOM Details</h3>
                                        </div>

                                        <div class="clearfix"></div><br />

                                        <asp:Repeater ID="rpBOMLIST" runat="server" EnableViewState="true">
                                            <HeaderTemplate>
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td>SL. No</td>
                                                            <td>ItemName</td>
                                                            <td>SAP No</td>
                                                            <%--<td>Mode</td>--%>
                                                        </tr>
                                                    </thead>
                                            </HeaderTemplate>
                                            <ItemTemplate>
                                                <tr>
                                                    <td><%# Container.ItemIndex+1 %></td>
                                                    <td runat="server" visible="false"><%# Eval("ItemCode") %></td>
                                                    <td><%# Eval("ItemName") %> </td>
                                                    <td><%# Eval("SAPNo") %></td>
                                                    <%--<td>
                                                        <asp:LinkButton ID="btnDelItem" runat="server" class="btn btn-danger btn-sm fa fa-trash-o"
                                                            Text="" OnCommand="btnDelItem_Command" CommandArgument="Delete" CommandName='<%# Eval("ItemCode") %>'
                                                            CausesValidation="true" OnClientClick="return confirm('Are you sure you want to delete this Item details?');">
                                                        </asp:LinkButton>
                                                    </td>--%>
                                                </tr>
                                            </ItemTemplate>
                                            <FooterTemplate></table></FooterTemplate>
                                        </asp:Repeater>
                                    </div>
                                </div>
                            </div>

                            <div class="box-footer">
                                <div class="form-group" style="align-content: center">
                                    <asp:Button ID="btnSave" class="btn btn-primary" runat="server" Visible="false" Text="Save" ValidationGroup="Validate_Field" OnClick="btnSave_Click" />
                                    <asp:Button ID="btnClear" class="btn btn-primary" runat="server" Visible="false" Text="Clear" OnClick="btnClear_Click" />
                                    <asp:Button ID="btnBack" class="btn btn-primary" runat="server" Text="Back To List" OnClick="btnBack_Click" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</asp:Content>

