﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="quotation_Item_Rate_Checking.aspx.cs" Inherits="Transaction_quotation_Item_Rate_Checking" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <script type="text/javascript">
    function SaveMsgAlert(msg) {
        alert(msg);
    }
</script>
<div class="content-wrapper">
    <asp:UpdatePanel ID="upRateChk" runat="server">
        <ContentTemplate>
            <section class="content">
        <div class="row">
            <div class="form-group col-md-4">
			    <label for="exampleInputName">Material Name</label>
                <asp:DropDownList ID="txtItemNameSelect" runat="server" class="form-control select2">
                </asp:DropDownList>
		    </div>
            <div class="col-md-3">
                <br/>
                <asp:Button ID="btnAddNew" class="btn btn-primary btn-block margin-bottom"  runat="server" Text="Search Rate" OnClick="btnAddNew_Click"/>

            </div>
        </div>
                <!--/.row-->
                <div class="row">
                    <div class="col-md-12">
                        
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="fa fa-user-plus text-primary"></i> <span>Item Rate Comparision List</span></h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                    </div>
                                </div>
                                <!-- /.box-tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="table-responsive mailbox-messages">
                                    <div class="col-md-12">
					            <div class="row">
					                <asp:Repeater ID="Repeater2" runat="server" EnableViewState="false">
					                    <HeaderTemplate>
                                            <table id="example" class="table table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>S.No</th>
                                                        <th>Supp.Name</th>
                                                        <th>Qtn.No</th>
                                                        <th>Qtn.Date</th>
                                                        <th>Rate</th>
                                                    </tr>
                                                </thead>
                                        </HeaderTemplate>
                                        <ItemTemplate>
                                            <tr>
                                                <td><%# Container.ItemIndex + 1 %></td>                                                
                                                <td><%# Eval("SuppName")%></td>
                                                <td><%# Eval("QuotNo")%></td>
                                                <td><%# Eval("QuotDate")%></td>
                                                <td><%# Eval("Rate")%></td>                                                
                                            </tr>
                                        </ItemTemplate>
                                        <FooterTemplate></table></FooterTemplate>                                
					                </asp:Repeater>
					            </div>
					        </div>




                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
        </ContentTemplate>
    </asp:UpdatePanel>    
        </div>
</asp:Content>

